<div class="container">
  <form id="consultaForm" (ngSubmit)="consultaAuditoria()" >
        <div class="form-group row"><br>    
          <div class="col-md-6 col-lg-3"><br>  
            <select id="aplicativo"  class="form-control" placeholder="Seleccione Aplicativo" name="aplicativo" #aplicativo="ngModel" [(ngModel)]="filtroConsulta.aplicativo">
              <option value="">Seleccione</option>
              <option [ngValue]="opt" *ngFor="let opt of aplicativos" value="{{opt.key}}">{{opt.value}}</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-3"><br>   
            <input type="text" class="form-control" id="uuid" #uuid="ngModel" [(ngModel)]="filtroConsulta.uuid" name="uuid" placeholder="uuid">  
          </div>  
          <div class="col-md-6 col-lg-3"><br>  
            <input type="text" class="form-control" id='numReferencia' placeholder="Número de Referencia" name="numReferencia" #numReferencia="ngModel" [(ngModel)]="filtroConsulta.numReferencia">  
          </div>  
          <div class="col-md-6 col-lg-3"><br>  
            <input type="date" class="form-control" id='fechaInicial' placeholder="Fecha Inicial" name="fechaInicial" #fechaInicial="ngModel" [(ngModel)]="filtroConsulta.fechaIni">
          </div>
          <div class="col-md-6 col-lg-3"><br>  
            <input type="date" class="form-control" id='fechaFinal' placeholder="Fecha Final" name="fechaFinal" #fechaFinal="ngModel" [(ngModel)]="filtroConsulta.fechaFin">
          </div>
          <div class="col-md-6 col-lg-3"><br>  
            <input type="text" class="form-control" id='nombres' placeholder="Nombres" name="nombres" #nombres="ngModel" [(ngModel)]="filtroConsulta.nombres">  
          </div>
          <div class="col-md-6 col-lg-3"><br>  
            <input type="text" class="form-control" id='primerApellido' placeholder="Primer Apellido" name="primerApellido" #primerApellido="ngModel" [(ngModel)]="filtroConsulta.primerApellido">
          </div>
          <div class="col-md-6 col-lg-3"><br>  
            <input type="text" class="form-control" id='segundoApellido' placeholder="Segundo Apellido" name="segundoApellido" #segundoApellido="ngModel" [(ngModel)]="filtroConsulta.segundoApellido">
          </div>
          <div class="col-md-6 col-md-offset-6"><br>  
              <button class="btn btn-primary" >Buscar</button>
          </div>
        </div>
  </form>
  <div class="panel">   
    <div class="panel-body">
      <div class="row">
        <dt-toolbar [table]="table"></dt-toolbar>
        <app-data-table [table]="table"></app-data-table>
      </div>
    </div>
  </div>
</div>