<div>
<h1>{{title}}</h1>
	<div class="alert alert-success" *ngIf="status == 'success'">
		bien
	</div>
	<div class="alert alert-danger" *ngIf="status == 'error'">
		No se pudo logear
	</div>
	<form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-7">
		<p>
			<label>Nombre</label>
			<input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="integrante.nombre" class="form-control" required> 
			<span *ngIf="!nombre.valid && nombre.touched">El nombre es obligatorio</span>
		</p>
		<p>
			<label>Correo Electrónico</label>
			<input type="text" name="correo" #correo="ngModel" [(ngModel)]="integrante.correo" class="form-control" required> 
			<span *ngIf="!correo.valid && correo.touched">Correo es obligatorio</span>
		</p>
		<p>
			<label>Contraseña</label>
			<input type="text" name="clave" #clave="ngModel" [(ngModel)]="integrante.clave"  class="form-control" required> 

			<span *ngIf="!clave.valid && clave.touched">La Contraseña es obligatoria</span>
		</p>
		
		<input type="submit" value="Entrar" class="" class="btn btn-success" >
	</form>

</div>